In [ ]:
# What to do if model evaluation fails ?? 
# 1. You never had enough data - bring more data and retrain the model 
# 2. Data quality -> Data contain not valid point 
# 2.1 - Anomaly data 
# 2.2 - Fill Rate (Missing Data)
# 2.3 - Not validate response 
# 3. Model Capacity Vs Data

In [ ]:
# ML Types - 

# 1. Supervised 
# 1.1 Regression 
#     Linear Regression 

# 1.2 Classification 
#     Logistic Regression 


# 2. Unsupervised

In [ ]:
# Logistic Regression - Is a classification algorithm, in the background it calculate(regress) the probaility of an event happenining.

# Loan Example - 
# Event is providing a loan

# P1 -  40%  | No  
# P2 -  90%  | Yes 
# P3 -  55%  | Yes
# P4 -  45%  | No


# probability is something in between 0 - 100 
# 50 as cutoff 
# Everyhting above 50 you say YES 
# Everything below 50 you say NO

# Can I customize my own threshold - YES! 
# Example - Cancer patient getting medication  ( we will lower the threshold)
# Threshold can be moved based on use case of problem

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
irisData = load_iris()

In [ ]:
irisData.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
# data - input data 
# target - output data 
# target_names - the cateory name 
# DESC - description 
# feature_names - input column names
# filename

In [ ]:
irisData.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
print(irisData.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [ ]:
df = pd.DataFrame(data = irisData.data, columns=irisData.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
df["target"] = irisData.target

In [ ]:
df.sample(9) # Shows you 9 random rows from data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
105                7.6               3.0  ...               2.1       2
50                 7.0               3.2  ...               1.4       1
136                6.3               3.4  ...               2.4       2
104                6.5               3.0  ...               2.2       2
2                  4.7               3.2  ...               0.2       0
147                6.5               3.0  ...               2.0       2
68                 6.2               2.2  ...               1.5       1
85                 6.0               3.4  ...               1.6       1
127                6.1               3.0  ...               1.8       2

[9 rows x 5 columns]

In [ ]:
# target values are 0, 1, 2 == 'setosa', 'versicolor', 'virginica'
irisData.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.shape

(150, 5)

In [ ]:
#                                                   --- INPUT ---    ---OUTPUT---
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df["target"], test_size=0.2)

In [ ]:
x_train.shape

(120, 4)

In [ ]:
y_train.shape

(120,)

In [ ]:
x_test.shape, y_test.shape

((30, 4), (30,))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lR = LogisticRegression()

In [ ]:
lR.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = lR.predict(x_test)

In [ ]:
y_pred

array([0, 2, 2, 2, 1, 2, 2, 0, 1, 1, 0, 2, 2, 1, 0, 2, 0, 2, 0, 2, 0, 0,
       2, 0, 2, 2, 2, 2, 0, 1])

In [ ]:
y_test.tolist()

[0,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 1]

In [ ]:
# Evaluation 

# 1. Compare the y_test with y_pred
# True  = 1
# False = 0
(y_pred == y_test).mean()

0.9666666666666667

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.9666666666666667

In [ ]:
7/8*100

87.5

In [ ]:
# 100 datapoint 
# 99%

In [ ]:
# 2. Confusion Matrix 
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[10,  0,  0],
       [ 0,  5,  1],
       [ 0,  0, 14]])